<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536257011883-nl9nqv80rogrkn65mdhqr5qm95jug7lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536257011883-nl9nqv80rogrkn65mdhqr5qm95jug7lb</string>
	<key>API_KEY</key>
	<string>AIzaSyDme2C5Nlftv6d8poZLbGWXfCsfC9yJ8t0</string>
	<key>GCM_SENDER_ID</key>
	<string>536257011883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.DatabaseExample</string>
	<key>PROJECT_ID</key>
	<string>testposts-f3ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>testposts-f3ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536257011883:ios:6ea74690a017e56e</string>
	<key>DATABASE_URL</key>
	<string>https://testposts-f3ca6.firebaseio.com</string>
</dict>
</plist>